<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h3>로그인</h3>
<form action="/member/login" method="post">
    <table>
        <tr>
            <td>이메일 : </td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>비밀번호 : </td>
            <td><input type="password" name="userPw"></td>
        </tr>
        <tr>
            <td><input type="submit" value="로그인"></td>
        </tr>
    </table>
</form>
<form action="/member/findId" method="post">
    <button type="submit">아이디 찾기</button>
</form>
<form action="/member/findPassword" method="post">
    <button type="submit">비밀번호 찾기</button>
</form>

</body>
</html>
