<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/member/edit" method="post" enctype="multipart/form-data">
        <p>파일 : <input type="file" name="img" id=""></p>
        <p>이름 : <input type="text" name="name" id="name"></p>
        <p>전화번호 : <input type="tel" name="tel" id="tel"></p>
        <p>소개 : <input type="text" name="message" id="message"></p>
        <p>성별 : <input type="text" name="gender" id="gender"></p>
        <p>이메일 : <input type="email" name="email" id="email"></p>
        <input type="submit" value="보내기">
    </form>
</body>
</html>