<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>클라이언트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.socket.io/4.2.0/socket.io.min.js" integrity="sha384-PiBR5S00EtOj2Lto9Uu81cmoyZqR57XcOna1oAuVuIEjzj0wpqDVfD0JA9eXlRsj" 
        crossorigin="anonymous"></script>
        <style>
            body {background-color: gold;}
        </style>
        <script>
            'use strict';
            let host;
            let port;
            let socket;

            $(function(){
                $('#connectButton').on('click', function(event){
                    console.log('connectButton 클릭')
                    host = $('#hostInput').val();
                    port = $('#portInput').val();
                    connectToServer();
                })

                $('#sendButton').on('click', function(event){
                    const roomName = $('#roomName').val(); // 방 idx
                    const sender = $('#sender').val(); // 세션에서 받아온 이름
                    const data = $('#data').val(); // 텍스트

                    console.log(roomName);
                    console.log(sender);
                    console.log(data);

                    const output = {sender:sender, commend:'chat', type:'text', data:data, roomName : roomName};
                    
                    if(socket == undefined){
                        alert('서버에 연결되지 않았습니다. 서버를 연결하세요');
                        return;
                    }
                    socket.emit('message', output);
                });

                $('#sendButton2').on('click', function(event){
                    const roomName = $('#roomName').val(); // 방 idx
                    socket.emit('joinRoom', roomName);
                    console.log(`방 ${roomName}입장`);
                })
            })

            function connectToServer(){
                const url = `http://${host}:${port}`;
                console.log(url)
                socket = io.connect(url);
                console.log('socket 객체 생성')
                socket.on('connect', function(){
                    console.log('웹소켓 서버에 연결되었습니다.')
                    socket.on('message', function(message){
                        console.log(JSON.stringify(message));
                        println(`${message.sender} ${message.data}`)
                    })
                });
            }
            function println(data){
                $('#result').append(`<p>${data}</p>`);
            }
        </script>
</head>

<body>
    <h2>클라이언트 1</h2>
    <p>접속 ip : <input type="text" id="hostInput" value="127.0.0.1"></p>
    <p>port : <input type="text" id="portInput" value="3001"></p>
    <p><input type="button" id="connectButton" value="서버접속"></p>
    <hr>

    <p>방 이름 : <input type="text" id="roomName"></p>
    <p><input type="button" id="sendButton2" value="입장"></p>

    <p>보내는 사람 아이디 : <input type="text" id="sender"></p>
    <p>메세지 <input type="text" id="data"> <input type="button" id="sendButton" value="입력"></p>

    <p>결과</p>
    <div id="result"></div>
</body>

</html>